<div class="row">
	<div class="col-3">
		<a routerLink="/admin/products/new" class="btn btn-primary">Add New Product</a>
	</div>
	<div class="col-9">
		<div class="form-group form-inline float-right pt-10">
			<label for="status"><strong>Filter By Category:&nbsp;&nbsp;</strong></label>
			<select class="form-control" [(ngModel)]="currentCategory" (change)="filterByCategory(currentCategory)">
				<option value="all">All</option>
			    <option *ngFor="let c of categories$ | async" [value]="c.name">{{c.name}}</option>
			</select>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-12">
	 <input type="text" class="form-control" placeholder="Search"  [(ngModel)]="searchValue" (keyup)="searchByTitle()" />
	</div>
</div>
<table class="table">
	<thead>
		<tr>
			<th>Title</th>
			<th>Category</th>
			<th>Price</th>
			<th>Operations</th>
		</tr> 
	</thead>
	<tbody>
		<tr *ngIf="filteredProducts.length == 0" class="text-center">
			<td colspan="4">No Products Found</td>
		</tr>
		<tr *ngFor="let product of filteredProducts | paginate: { itemsPerPage: 10, currentPage: p }">
			<td>{{product.title}}</td>
			<td>{{product.category}}</td>
			<td>{{product.price | currency:'USD':'symbol'}}</td>
			<td>
				<a [routerLink]="['/admin/products/', product.$key]">Edit</a> &nbsp;&nbsp;&nbsp;
				<a href="Javascript:void(0)" (click)="deleteProduct(product)">Delete</a>
			</td>
		</tr>
	</tbody>
</table>
<pagination-controls (pageChange)="p = $event"  autoHide="true"></pagination-controls>
<ng4-loading-spinner [loadingText]="'Loading...'"> </ng4-loading-spinner>