<h1>Shopping Cart</h1>
<p>You have {{shoppingCartItemCount}} items in your shopping cart</p>
<div class="row col-10">
	<table class="table">
		<thead>
			<tr>
				<th></th>
				<th>Product</th>
				<th class="text-center">Quantity</th>
				<th class="text-right">Price</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let item of items">
				<td><div [style.backgroundImage]="'url('+item.imageUrl+')'" class="thumbnail"></div></td>
				<td>{{item.title}}</td>
				<td class="text-left"><product-quantity [product]='item' [shopping-cart]='cart'></product-quantity></td>
				<td class="text-right">{{item.price * item.quantity | currency:'USD':'symbol'}}</td>
			</tr>
			<tr *ngIf="items.length == 0">
				<td colspan="4" class="text-center">No items found in your shopping cart</td>
			</tr>
		</tbody>
		<tfoot *ngIf="items.length > 0">
			<tr>
				<th></th>
				<th></th>
				<th>Total Price</th>
				<th class="text-right">{{ totalPrice | currency:'USD':'symbol' }}</th>
			</tr>
		</tfoot>
	</table>
</div>
<button *ngIf="items.length > 0" class="btn btn-danger btn-sm" (click)="clearCart()">Clear Shopping Cart</button>