<h1>Shopping Cart</h1>
<p>You have {{shoppingCartItemCount}} items in your shopping cart</p>
<table class="table">
	<thead>
		<tr>
			<th>Product</th>
			<th>Quantity</th>
			<th>Price</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let item of items">
			<td>{{item.title}}</td>
			<td><product-quantity [product]='item' [shopping-cart]='cart'></product-quantity></td>
			<td>{{item.price * item.quantity | currency:'USD':'symbol'}}</td>
		</tr>
		<tr *ngIf="items.length == 0">
			<td colspan="3" class="text-center">No items found in your shopping cart</td>
		</tr>
	</tbody>
	<tfoot *ngIf="items.length > 0">
		<tr>
			<th></th>
			<th>Total Price</th>
			<th>{{ totalPrice | currency:'USD':'symbol' }}</th>
		</tr>
	</tfoot>
</table>