<div class="row">
	<div class="col-3">
		<products-filter [category]="category"></products-filter>
	</div>
	<div class="col">
		<div class="row">
			<ng-container  *ngFor="let p of filteredProducts; let i = index">
				<div class="col">
					<product-card [product]="p" [shopping-cart]="cart"></product-card>
				</div>
				<div *ngIf="(i + 1)%2 === 0" class="w-100"></div>
			</ng-container>
			<div *ngIf="filteredProducts.length == 0" class="mauto">
				<h5 class="text-center">No Products Found in this Category</h5>
			</div>
		</div>	
	</div>
</div>