<h2>Shipping</h2>
<div class="row">
  <div class="col-6">
    <form #f="ngForm" *ngIf="!isAddress">
      <div class="form-group">
        <label for="name">Name</label>
        <input #name="ngModel" name="name" [(ngModel)]="shipping.name" type="text" class="form-control" placeholder="Name" required disabled="disabled" />
        <div class="alert alert-danger" *ngIf="name.touched && name.invalid">
          <div *ngIf="name.errors.required">Name is required.</div>
        </div>
      </div>
      <div class="form-group">
        <label for="addressLine1">Address</label>
        <input #addressLine1="ngModel" name="addressLine1" [(ngModel)]="shipping.addressLine1" type="text" class="form-control" placeholder="Line 1" required>
        <div class="alert alert-danger" *ngIf="addressLine1.touched && addressLine1.invalid">
          <div *ngIf="addressLine1.errors.required">Address Line 1 is required.</div>
        </div>
      </div>
      <div class="form-group">
        <label for="addressLine2"></label>
        <input #addressLine2="ngModel" name="addressLine2" [(ngModel)]="shipping.addressLine2" type="text" class="form-control" placeholder="Line 2" required>
        <div class="alert alert-danger" *ngIf="addressLine2.touched && addressLine2.invalid">
          <div *ngIf="addressLine2.errors.required">Address Line 2 is required.</div>
        </div>
      </div>
      <div class="form-group">
        <label for="city">City</label>
        <input #city="ngModel" name="city" [(ngModel)]="shipping.city" type="text" class="form-control" placeholder="City" required>
        <div class="alert alert-danger" *ngIf="city.touched && city.invalid">
          <div *ngIf="city.errors.required">City is required.</div>
        </div>
      </div>
      <button *ngIf="!isAddress" (click)="cancelAddAddress()" class="btn btn-secondary">Cancel</button>
      <button 
        (click)="placeOrder('new')" [disabled]='name.invalid || addressLine1.invalid || addressLine2.invalid || city.invalid'
        class="btn btn-primary">Save and Deliver Here</button>
    </form>
    <div *ngIf="isAddress">
      <div class="card mb-10" *ngFor="let adr of address; let i = index">
        <div class="card-body pb-0">
          <h5 class="card-title">Address {{ i + 1 }} 
            <span class="float-right">
              <i class="fa fa-trash" (click)="deleteAddress(i)"></i>
            </span>
          </h5>
          <p class="card-text">{{ adr.name }}</p>
          <p class="card-text">{{ adr.addressLine1 }}</p>
          <p class="card-text">{{ adr.addressLine2 }}</p>
          <p class="card-text float-left">{{ adr.city }}</p>
          <button (click)="placeOrder('existing')" class="btn btn-secondary float-right">Deliver Here</button>
        </div>
   `  </div>
    </div>
    <p><button *ngIf="isAddress" (click)="addNewAddress()" class="btn btn-primary">Add New Address</button></p>
  </div>
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Order Summary</h5>
        <p class="card-text">You have {{ totalQuantity }} items in your shopping cart.</p>
        <ul class="list-group list-group-flush">
          <li class="list-group-item" *ngFor="let item of items">
          {{item.quantity}} X {{item.product.title}} 
          <span class="float-right">{{item.totalPrice | currency:'USD':'symbol'}}</span>
          </li>
          <li class="list-group-item font-weight-bold">
            Total
            <span class="float-right">{{ totalPrice | currency:'USD':'symbol' }}</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<ng4-loading-spinner [loadingText]="'Loading...'"> </ng4-loading-spinner>